body {
	font-family: 'IBM Plex Mono', monospace;
	background-image: url("space.gif");
	background-color: #000;
	color: white;
	max-width: 40%;
	margin: 0 auto;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

img {
	max-width: 300px;
	width: 100%;
	height: auto;
	margin: 20px 0;
}

a {
	color: white;
	text-decoration: underline;
}

content {
	margin: 0 auto;
}

a:visited {
	color: gray;
}

