:root {
  background-color: #0E1313;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    position: relative;
    width: 100%;
    height: 100vh;
}

.content{
  position: absolute;
  width:100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Adjust the z-index to make sure the content overlays the background */
  /* Additional styles for the overlay content */

}

.introduction{
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 60px;
    margin-top: 20%;
    margin-left: 10%;
    color: #DBDBDB;
}

.intro{
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 30px;
    margin-top: 4%;
    margin-left: 2%;
    color: #64A7D8;
}

.images {
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: center; /* Center the images horizontally */
  padding: 0px;
}

.images figcaption {
  font-size: 12px;
  color: #dbdbdb;
}

.slideshow {
  margin: 50px; /* Add some spacing between the images (optional) */
  max-width: 350px; /* Adjust the width of the images to your liking */
  max-height: 300px;
  border-radius: 40px;
}

.aboutme {
  margin-top: 0;
  padding: 0px;
  display: flex;
}

.firstPage{
  display: flex;


}

.rocket {
  margin-top: 18%;
  scale: 1.35;
  margin-left: 12%;
}



p {
  padding: 0px;
  margin: 0px;
}

