:root {
  background-color: #0E1313;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    position: relative;
    width: 100%;
    height: 100vh;
}

h1 {
  font-size: 35px;
  margin-left: 3%;
}

.image-text {
  font-size:16px;
  color: #dbdbdb;
  text-align: center;
}

.image-wrapper {
  justify-content: center;
}

.resumestuff {
  display: flex;
  margin-left: 3%;
}

.snorlax {
  margin-right: 5%;
  margin-bottom: 4%;
  margin-left:2%;
}

.content{
  position: absolute;
  width:100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Adjust the z-index to make sure the content overlays the background */
  /* Additional styles for the overlay content */

}

.introduction{
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 60px;
    margin-top: 20%;
    margin-left: 10%;
    color: #DBDBDB;
}

.contact {
  color: #dbdbdb;
  font-size: 30px;
  margin: 0;
}

.header {
  display: flex;
}

.astro {
  width: 25%;
  margin-top: 10%;
  margin-left: 20%;
  z-index: 1;
  position: absolute;
}

.intro{
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: 30px;
    margin-top: 4%;
    color: #64A7D8;
}

.images {
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: center; /* Center the images horizontally */
  padding: 0px;
}


.slideshow {
  margin: 50px; /* Add some spacing between the images (optional) */
  max-width: 300px; /* Adjust the width of the images to your liking */
  height: 300px;
  border-radius: 40px;
}

.aboutme {
  margin-top: 0;
  padding: 0px;
}

.firstPage{
  display: flex;


}

.rocket {
  margin-top: 18%;
  scale: 1.35;
  margin-left: 12%;
}



p {
  padding: 0px;
  margin: 0px;
}

.static {
  position: relative;
  height: 300px; /* Set the height as needed */
  overflow: hidden; /* Hide any overflowing content */
}

.static img {
  width: 100px;
  height: auto;
}

.quote {
  display: flex;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 5%;

}

.quote img {
  width: 20%;
  margin-right:5%;
}

.moving {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/* Media Query for Mobile */
@media (max-width: 767px) {
  .introduction {
    font-size: 40px;
    margin-top: 50%;
    margin-left: 5%;
  }

  .firstPage {
    display: flex;
    flex-direction: column;
  }

  .rocket {
    margin-top: 10%;
    width: 30%;
  }

  .contact {
    font-size: 20px;
  }

  .astro {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    display:none;
  }

  .snorlax {
    display: none;
  }


  .intro {
    font-size: 20px;
    margin-top: 2%;
  }

  .slideshow {
    margin: 20px;
    max-width: 175px;
    height: 175px;
    border-radius: 30px;
  }

  .images {
    flex-direction: column;
    text-align: center;
  }

  .image-wrapper {
    justify-content: center;
    margin: 0 auto;
  }

  .image-text{
    font-size: 14px;
  }

  .quote {
    display: none;
  }

  .rocket {
    margin-top: 10%;
    scale: 1;
    margin-left: 5%;
  }

  .quote img {
    width: 30%;
  }

  .moving {
    padding: 5px;
  }
}