<nav>
  <p>
    <a href="/">home</a>
    <a href="/now">now</a>
    <a href="/posts">posts</a>
    <a href="/bookmarks">bookmarks</a>
    <a href="/about">about</a>
    <a href="/guestbook">guestbook</a>
    <a href="/rss.xml">RSS</a>
  </p>
  <hr>
</nav>
