.subheader {
    color: #dbdbdb;
    font-size: 26px;
    padding: 0;
    margin: 0px;
}

.describe {
    color: #dbdbdb;
    font-size: 18px;
    margin: 0px;
}

.secondary {
    color: #64a7db;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

li {
    color: #dbdbdb;
    font-size: 18px;
    margin: 0px;
    display: block; /* Make each list item an inline block to create a box */
    padding: 10px; /* Add padding to create space within each box */
    margin-right: 10px; /* Add spacing between the boxes */
}
ul {
    list-style: none; /* Remove default list bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to space items horizontally */
  }

/* Media Query for Mobile */
@media (max-width: 767px) {
    .subheader {
      font-size: 18px;
    }
  
    .describe {
      font-size: 12px;
    }
  
    .secondary {
      font-size: 14px;
    }
  
    li {
      font-size: 12px;
      padding: 6px; /* Reduce the padding for smaller screens */
      margin-right: 10px; /* Reduce the spacing between the boxes for smaller screens */
    }
  
    ul {
    }
  }
  